{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <h4 class="h3 mb-3 font-weight-normal">Vous êtes bien deconnecté.</h4>

    Si vous souhaitez vous connectez à nouveau.
    <a class="nav-link" href="{{ path('app_login') }}">login</a>

{% endblock %}