{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}

    <h3>Salut, {{ app.user.person.prenom }}! </h3>

            <li class="list-group-item">

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for equipesJoueur in listJoueurs %}
                        <th scope="row"></th>
                        <td>{{ equipesJoueur.nom }} {{ equipesJoueur.prenom }}</td>
                    </tr>
                </tbody>
            </table>

            </li>    
        {% endfor %}
    </ul>


    {# <a href={{ path('equipe_list') }}> retour à la liste des équipes </a> #}

{% endblock %}

                {# <div class="form-check form-check-inline">
                </div>  
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                </div><div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                </div> #}