<html>
    <body>
        <header>
            Voici la section header
        </header>
        <main>
            Voici la section main
            {% block contenuMain %}{% endblock %}
        </main>
        <footer>
            Voici la section footer
        </footer>
    
    </body>
    {% block javascripts %}{% endblock %}
</html>
