<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="icon" href="data:,">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`
												           and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		{% endblock %}

		{% block javascripts %}
			<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

			{# Axios #}
			<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
		{% endblock %}
	</head>
	<body>
		{# Navbar de bootstrap  #}
		{% block body %}
		

			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<a class="navbar-brand text-success" href="#">Navbar. Les liens se trouvent dans base.html.twig</a>
			
				<div class="collapse navbar-collapse" id="navbarNavDropdown">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link" href="{{ path ('recherche_vue_partielle') }}">Recherche AJAX avec vue partielle (renderView)</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path ('contenu_base') }}">Recherche avec pagination (no AJAX)</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path ('contenu_base_generique') }}">Recherche avec pagination (AJAX)</a>
						</li>
						
						<li class="nav-item">
							<a class="nav-link" href="{{ path ('pays_api') }}">Lien accès API (no AJAX, api call)
								<span class="sr-only">(current)</span>
							</a>
						</li>
					</ul>


				</div>
				<nav class="navbar navbar-light bg-light">
					<form class="form-inline">
						<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
					</form>
				</nav>
			</nav>
			{% block contenu %}{% endblock %}
		{% endblock %}

	
	</body>
</html>
