<html>
<head></head>
<body>
    <header>
        <h1>Voici le header de la page</h1>
    </header>
    <main>
	  <!-- on indique que un bloc "contenuPrincipal" sera incrusté ici-->
        {% block contenuPrincipal %}{% endblock %}
    </main>
    <footer>
        <nav>
            <ul>
                <li>Option footer 1</li>
                <li>Option footer 2</li>
            </ul>
        </nav>
    </footer>
</body>
</html>

