<html>
<head>
<body>
    <header>
        {% include "exemples_twig_heritage/header.html.twig" %}
    </header>
    <main>
        {% block contenuPrincipal %}{% endblock %}
    </main>
    <footer>
        {% include "exemples_twig_heritage/footer.html.twig" %}
    </footer>
</body>
</html>
