{% extends "base.html.twig" %}

{% block body %}
<h3>Je suis une vue normale, et je fait appel à une action qui génére une vue.
Je vais incruster son contenu dans un div</h3>

<div style="border: 1px solid black">
{# {% include "/home/afficher_date.html.twig" %} #}
{{ render (controller(
        'App\\Controller\\HomeController::afficherDate'
) )}}
</div>
{% endblock %}