{% extends 'base.html.twig' %}

{% block title %}SymRecipe - Recettes de la communauté
{% endblock %}

{% block body %}
	<div class="container mt-4">
		{% if not recettes.items is same as([]) %}
			<h1>Recettes de la communuaté</h1>

			<div class="d-flex justify-content-center flex-wrap">
				{% for recipe in recettes %}
					<div class="card border-primary mb-3" style="max-width: 20rem;">
						<div class="card-header">Recette n°{{ recipe.id }}</div>
						<div class="card-body">
							<h4 class="card-title">
								<a href="{{ path('recette.show', {id: recipe.id}) }}">{{ recipe.titre }}</a>
							</h4>
							<p class="card-text">{{ recipe.description|slice(0, 100) ~ '...' }}</p>
						</div>
					</div>
				{% endfor %}
			</div>


		{% else %}
			<h4>Il n'y a pas de rcettes</h4>
		{% endif %}
	</div>
{% endblock %}

